.game-container {
  width: fit-content;
  margin: 20px auto;
  text-align: right;
}

.game-settings {
  margin-top: 20px;
}

.game-settings span {
  margin-right: 15px;
}

#my-canvas {
  border: 1px solid;
  background-color: rgb(240, 240, 240);
  display: block;
}

#start-button {
  margin-bottom: 5px;
}

.game-explain {
  border: 2px groove rgb(192, 192, 192);
  padding: 2px 12px;
  margin: 2px;
}

.bold {
  font-weight: bold;
}

.red {
  color: #ff6347;
}
